<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Totem de Senhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-relogio" (click)="avancarHoras()" style="cursor: pointer;">
    <span class="data">{{ horaAtual | date:'dd/MM/yyyy' }}</span>
    <span class="hora">{{ horaAtual | date:'HH:mm:ss' }}</span>
    <small style="display: block; font-size: 0.6rem; color: #666;">(Clique para +3h)</small>
  </div>

  <div class="totem-container ion-text-center">
    <div *ngIf="!isAberto" class="msg-fechado">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <h2>POSTO FECHADO</h2>
      <p>Atendimento das 07h às 17h</p>
    </div>

    <div *ngIf="isAberto">
      <h1>Selecione seu Atendimento</h1>
      <ion-button expand="block" color="danger" (click)="emitir('SP')">Senha Prioritário</ion-button>
      <ion-button expand="block" color="success" (click)="emitir('SE')">Senhas de Exames</ion-button>
      <ion-button expand="block" color="primary" (click)="emitir('SG')">Senhas Gerais</ion-button>
    </div>

    <ion-card *ngIf="ultimaSenha" class="ticket">
      <ion-card-header><ion-card-title>Sua senha: {{ ultimaSenha.numero }}</ion-card-title></ion-card-header>
      <ion-card-content>Aguarde a ser chamado pelo painel</ion-card-content>
    </ion-card>
  </div>
</ion-content>