<ion-content class="ion-no-padding">
  <div class="painel-wrapper">

    <main class="seccao-principal">
      <header class="label-topo">SENHA ATUAL</header>

      <div class="display-container" *ngIf="senhaPrincipal; else semSenhaAtiva">
        <h1 class="numero-grande">{{ senhaPrincipal.numero }}</h1>

        <div class="info-guiche">
          <span class="guiche-label">GUICHÊ </span>
          <span class="guiche-numero">{{ senhaPrincipal.guiche }}</span>
        </div>
      </div>

      <ng-template #semSenhaAtiva>
        <div class="display-container status-espera">
          <h1 class="aguarde-texto">AGUARDANDO...</h1>
        </div>
      </ng-template>
    </main>

    <aside class="barra-historico">
      <header class="label-historico">ÚLTIMAS CHAMADAS</header>

      <div class="lista-itens">
        <div class="item-hist" *ngFor="let h of historico">
          <div class="dados-hist">
            <span class="hist-numero">{{ h.numero }}  <span class="hist-guiche">GUICHÊ {{ h.guiche }}</span>
          </span>
          </div>
        </div>
      </div>
    </aside>

  </div>
</ion-content>